:root {
    --color-primary: #02295a;
    --color-secondary: 	#473dff;
    --color-third: 	#adbeff;
    --color-btn: #bfe2fd;
    --color-error: 	#ed3548;
    --color-text-primary: #9699ab;
    --color-text-secondary: #d6d9e6;
    --color-input-primary:	#f0f6ff;
    --color-input-secondary:#fafbff;
}
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}